<script src="https://cdn.tailwindcss.com"></script>
<body>
    <center><h1 class="py-10 text-4xl font-bold">My Voting App</h1></center>
    <center><h3 class="font-bold justify-center text-2xl text-gray-600">
        Cast your Vote, Select Your Leader , Build Your Nation
    </h3> </center>
</body>