<html>
    <head>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
              <div class="flex gap-2 p-4">
                  <div class="flex-auto">
                      <h1 class=" px-40 text-rose-900 w-full p-2  font-bold text-5xl">My-Election-App</h1>
                  </div>
              
              <div class="flex-none " >
                <a href="/elections" class=" px-4 text-blue-900 p-2 font-bold text-xl">Home</a>
              </div>
              <div class="flex-none">
                <a href="/signout" class=" px-4 text-blue-900 p-2 font-bold text-xl">Sign Out</a>
              </div>
          </div>
    </body>
</html>
