<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Online Voting App</title> 
</head>
<body>
    <%- include('header.ejs') %>
    <div style="width:500px;height:400px;margin-top: 30px;margin-left: auto;margin-right: auto;background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566));border-radius: 40px;padding-top: 50px;">
       
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-3">
            <h6 class="py-2 text-xl font-bold">Login in as User</h6>
        
            <form action="/session" method="post">
                
                <input type="hidden" name="_csrf" value="<%=csrfToken %>" />

                <div class="py-3">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="border border-gray-300 text-black-300 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="border border-gray-300 text-black-300 rounded p-2 w-full">
                </div>
                <div class="py-3 px-20">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded-full px-5 py-2">Sign in</button>
                </div>
               

        </div>

            </form>
           
    </div>
    </div>
</body>
</html>